.stats_block{
  padding: 20px 0;

}
.stats_text{
  display: flex;
  gap: 15px;
  align-items: center;
}
.explorer{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  a{
    color: var(--mantine-color-dark-7);
    word-wrap: break-word;
  }
}